*{
    background-color:rgb(212, 212, 212);
}
.emprendedores{
    background-color: rgb(99, 99, 99);
    text-transform: capitalize;
    text-decoration:dashed;    
    text-align: center;
    padding: 5%;
}
.empresassv{
    background-color: rgb(99, 99, 99);
    text-transform: capitalize;
    text-decoration:dashed;    
    text-align: center;
    padding: 5%;
}
.empresasint{
    background-color: rgb(99, 99, 99);
    text-transform: capitalize;
    text-decoration:dashed;    
    text-align: center;
    padding: 5%;
}
.imgint{
    height: 128px;
    width: 200px;
}
.carousel-item{
    padding-left: 30%;
}
